/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.lato{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* Soft reset */

*{
  margin: 0;
  padding: 0;
}

/* Genereal css */

ul, li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}



/* Header css */

header{
  display: flex;
  justify-content: flex-end;
  background-color: #044C7F;
  position: relative;
  color: white;
  height: 100px;
}

#logo{
  order: 0;
  width: 200px;
  height: 100px;
  position: absolute;
  left: 25px;
}

#headerlist{
  display: flex;
  order: 2;
}

#headerlist li{
  padding: 15px;
  width: 145px;
  height: 15px;
  border: solid white 3px;
  text-align: center;
  flex-direction: row;
  margin-right: 100px;
  margin-top: 27px;
  font-size: 25px;
}

#headerlist li p{
  margin-top: -8px;
}

#uniqueli{
  background-color: #764B8E;
}

#headerimg{
  order: 4;
}

/* Footer css */

footer{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #044C7F;
  bottom: 0;
}

footer img{
  height: 95px;
  width: auto;
  margin-top: 0px;
}

#rightfooterimg{
  float: right;
}

/* Dashboard / index css */

#content{
display: flex;
align-content: flex-start;
}

#leftcontent{
margin-left: 5%;
width: 40%;
height: 700px;
margin-top: 25px;
}

.communitybox{
  display: flex;
  align-content: flex-start;
  height: 175px;
  margin: 40px;
}

.communitylogo{
  width: 20%;
  height: 135px;
  margin: 20px;
}

.communitytitlep, .communitydescp{

}

.hrdontworkwithflex{
  color: gray;
  opacity: 0.7;
  margin-bottom: 10px;
}

.communitylist{
  margin-top: 35px;
  margin-left: 5%;
}

.communitybox li a:hover{
 text-decoration: underline;
 text-decoration-color: #044C7F;
 text-decoration-style: double;
}

#rightcontent{
  flex-direction: column;
  margin-top: 50px;
}

#toprightcontent{
 margin-top: 100px;
 height: 250px;
 margin-right: -120px;
 border: solid white 1px;
}

#rightcontent h2{
  margin-top: 50px;
  position: absolute;
}

#bottomrightcontent{
  width: 850px;
  height: 200px;
  margin-top: 50px;
  border: solid white 1px;
}

#keduh2{
  margin-left: 12px;
  margin-top: -5px!important;
}

.dashpostface{
  width: 70px;
  height: 70px;
  float: left;
  margin: 25px;
}

.dashname{
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.devider{
  width: 100%;
  height: 1px;
  margin-top: 50px;
}

.dashimg{
  height: 110px;
  position: absolute;
  right: 240px;
  top: 250px;
}

.dashp{
  margin-left: 20px;
  margin-top: 3px;
}
